/* CSS declarations go here */
#login {
	background-size: cover;
	background-image: url('/14868090544_d8a7b613fb_k.jpg');
	background-repeat: no-repeat;
	background-position: 0 -250px;
	position: absolute;
	width: 100%;
	height: 100%;
}

#sign-in {
	margin-top: 20px;
}

.button-container {
	display: inline-block;
	margin: 10px;
}

#sign-in .button-container button {
	border: 0px;
}