/*-------------------
    Site Colors
--------------------*/

@blue             : #3B83C0;
@green            : #5BBD72;
@orange           : #E07B53;
@pink             : #D9499A;
@purple           : #564F8A;
@red              : #D95C5C;
@teal             : #00B5AD;
@yellow           : #F2C61F;

@black            : #1B1C1D;
@white            : #FFFFFF;

@lightBlack       : #CCCCCC;
@lightBlue        : #54C8FF;
@lightGreen       : #2ECC40;
@lightOrange      : #FF851B;
@lightPink        : #FF8EDF;
@lightPurple      : #CDC6FF;
@lightRed         : #FF695E;
@lightTeal        : #6DFFFF;
@lightYellow      : #FFE21F;

/*-------------------
    Custom site Colors
--------------------*/

@grey             : #82888A;

@lightGrey        : #D3D3D3;
@lightTealCustom  : #79CCCD;

@extraLightGrey   : #AAA;

@darkGrey         : #565A5C;

/*-------------------
      Sizes
--------------------*/
/* Exact pixel values @ 14px em */


/*-------------------
      Properties
--------------------*/
@important: !important;


/*-------------------
    Global declarations
--------------------*/
.teal {
	color: @teal @important;
}

.grey {
	color: @grey @important;
}

.grey-light {
	color: @lightGrey @important;
}

.grey-extra-light {
	color: @extraLightGrey @important;
}

.grey-dark {
	color: @darkGrey @important;
}

.teal-light {
	color: @lightTeal;
}

/*-------------------
    Loader
--------------------*/
.ui.inverted.dimmer .ui.loader:after {
	border-color: @lightTealCustom transparent transparent @important;
}

/*-------------------
    file list table
--------------------*/
#file-list img {
	width: 60%;
	border-radius: 5px;
}



/*  background-image: url(upload/public/u/MEQPYZ5PdbsPJXstL/blurred.jpg);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;*/

