/*-------------------
    Site Colors
--------------------*/

@blue             : #3B83C0;
@green            : #5BBD72;
@orange           : #E07B53;
@pink             : #D9499A;
@purple           : #564F8A;
@red              : #D95C5C;
@teal             : #00B5AD;
@yellow           : #F2C61F;
@grey             : #82888A;

@black            : #1B1C1D;
@white            : #FFFFFF;

@lightGrey        : #D3D3D3;
@lightBlack:      : #CCCCCC;
@lightBlue        : #54C8FF;
@lightGreen       : #2ECC40;
@lightOrange      : #FF851B;
@lightPink        : #FF8EDF;
@lightPurple      : #CDC6FF;
@lightRed         : #FF695E;
@lightTeal        : #6DFFFF;
@lightYellow      : #FFE21F;

@extraLightGrey   : #AAA;

@darkGrey         : #565A5C;

/*-------------------
      Sizes
--------------------*/
/* Exact pixel values @ 14px em */


/*-------------------
      Properties
--------------------*/
@important: !important;


/*-------------------
      Declarations
--------------------*/
.teal {
	color: @teal 
}

.grey {
	color: @grey @important;
}

.grey-light {
	color: @lightGrey;
}

.grey-extra-light {
	color: @extraLightGrey;
}

.grey-dark {
	color: @darkGrey;
}

/*.teal-light {
	color: #79cccd;
}*/