
/*a.grey:hover {
	text-decoration: underline;
	color: #565a5c !important;
}*/

/***** Global *****/
/*.site-size {
	font-size: 12px !important;
}*/

/*.teal {
	color: rgb(0, 181, 173) !important;
}
*/
/*.blue {
	color: rgb(59, 131, 192) !important;
}
*/
/*.yellow {
	color: rgb(242, 198, 31) !important;
}

.red {
	color: rgb(217, 92, 92) !important;
}
*/
/***** Addon *****/ 
/*.grey {
	color: #82888a !important;
}

.grey-light {
	color: #D3D3D3 !important;
}

.grey-extra-light {
	color: #aaa !important;
}

.grey-dark {
	color: #565a5c !important;
}

.teal-light {
	color: #79cccd !important;
}*/

/***** change *****/
/*#loading-segment {
	height: 500px;
}*/

/* Audio player */
/*.playing {
	display: none;
	padding-right: 5px;
}*/