<template name="header">

	<div id="topbar_repo_info" class="ui page grid">
		{{#if equal page "repository"}}
		<div class="column">
			<div class="ui basic segment">
				<div class="ui items">
					<div class="item">
						<div class="middle aligned content">
							<div class="header">
								<a class="link-light" href="/{{../user.profile.screen_name}}">
									{{../user.profile.screen_name}}
								</a>
								{{#if ../repo.title}} 
								<span class="grey-light"> / </span>
								<span class="teal">#</span> {{../repo.title}}
								{{#unless isOwner ../repo.user_id}}
								<i id="header_subscribe" class="favorite icon {{#if subscribed ../repo.subscribers}}yellow{{/if}}"></i>
								{{/unless}}
								{{/if}}
								<div class="ui right floated">
									<a class="table-collapse item">
										<i class="{{displayStatus}} black link icon"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	</div>

	<div class="{{#unless padded}}ui page vertically padded grid{{/unless}}">
		<div class="centered row">
			<div class="column">
				<div id="fixed_topbar" class="ui primary borderless large fixed menu" style="display: none">
					<a class="item" href="/">
						<!-- Gitstr. -->
						<span class="oxygen">gitstr.</span>
					</a>

					{{#if equal ../display "explore"}}
					<div class="item">
						<i class="orange rocket icon"></i>
						<span class="grey-light"> Explore</span>
					</div>
					{{/if}}

					{{#if equal ../display "feed"}}
					<div class="item">
						<i class="green heartbeat icon"></i>
						<span class="grey-light"> Activity</span>
					</div>
					{{/if}}

					{{#if equal ../display "rep"}}
					<div class="item">
						<i class="orange flag icon"></i>
						<span class="grey-light">
							{{#if equal page "home"}}
								Your
							{{else}}
								{{#if equal currentUser._id ../user._id}}Your{{else}}{{../user.profile.screen_name}}'s{{/if}}
							{{/if}}
							repositories
						</span>
					</div>
					{{/if}}

					{{#if equal ../display "sub"}}
					<div class="item">
						<i class="yellow star icon"></i>
						<span class="grey-light">
						{{#if equal page "home"}}
								Your
							{{else}}
								{{#if equal currentUser._id ../user._id}}Your{{else}}{{../user.profile.screen_name}}'s{{/if}}
							{{/if}}
							subscriptions
						</span>
					</div>
					{{/if}}
				</div>
				<div id="topbar" class="ui secondary menu">
					<a class="item" href="/">
						gitstr.
					</a>
					<a class="item" href="/explore">
						<i class="rocket orange icon"></i>
						Explore
					</a>
					{{#if equal page "repository"}}
					<div class="table-collapse item">
						<i class="{{displayStatus}} link icon"></i>
					</div>
					{{/if}}
					<div class="right menu">
						<div class="item">
							<div class="ui search">
								<div class="ui transparent left icon input">
									<input class="prompt" type="text" placeholder="Search...">
									<i class="search link icon"></i>
								</div>
								<div class="results"></div>
							</div>
						</div>
						{{#if currentUser}}
						<div class="item computer tablet only">
							<a class="ui mini rounded image" href="/">
								<img src="{{currentUser.profile.image}}">
							</a>
						</div>
						<a id="logout" class="ui item">
							<i class="sign out icon"></i>
						</a>
						{{/if}}
					</div>
					{{#unless pointing}}
						<div class="ui divider"></div>
					{{/unless}}
				</div>

			</div>	
		</div>
	</div>
</template>