<template name="header">
	<div class="ui {{#unless padded}}page vertically padded{{/unless}} grid">
		<div class="centered row">
			<div class="column">
				<div id="fixed_topbar" class="ui primary large fixed menu" style="display: none">
					<a class="item" href="/">
						<!-- Gitstr. -->
						<span class="ui label large teal circular oxygen">G</span>
					</a>
					{{#if equal page "repository"}}
					<div class="item">
						<a class="link-light" href="/{{../user.profile.screen_name}}">
							<span>{{../user.profile.screen_name}}</span>
						</a>
						{{#if ../repo.title}} 
						<span class="grey-light"> / </span>
						<span class="teal">#</span> {{../repo.title}} 
						{{/if}} 
					</div>
					{{/if}}

					{{#if equal ../display "feed"}}
					<div class="item">
						<i class="green heartbeat icon"></i>
						<span class="grey-light"> Activity</span>
					</div>
					{{/if}}

					{{#if equal ../display "rep"}}
					<div class="item">
						<i class="orange flag icon"></i>
						<span class="grey-light">
							{{#if equal page "home"}}
								Your
							{{else}}
								{{#if equal currentUser._id ../user._id}}Your{{else}}{{../user.profile.screen_name}}'s{{/if}}
							{{/if}}
							repositories
						</span>
					</div>
					{{/if}}

					{{#if equal ../display "sub"}}
					<div class="item">
						<i class="yellow star icon"></i>
						<span class="grey-light">
						{{#if equal page "home"}}
								Your
							{{else}}
								{{#if equal currentUser._id ../user._id}}Your{{else}}{{../user.profile.screen_name}}'s{{/if}}
							{{/if}}
							subscriptions
						</span>
					</div>
					{{/if}}

					{{#if equal page "repository"}}
					<a class="table-collapse item">
						<i class="{{displayStatus}} link icon"></i>
					</a>
					{{/if}}

					<div class="four wide computer tablet only column right menu">
						<div class="item">
							<div class="ui search">
								<div class="ui transparent left icon input">
									<input class="prompt" type="text" placeholder="Search...">
									<i class="search link icon"></i>
								</div>
								<div class="results"></div>
							</div>
						</div>
						{{#if currentUser}}
						<div class="item">
							<a class="ui mini rounded image" href="/">
								<img src="{{currentUser.profile.image}}">
							</a>
						</div>
						<a id="logout" class="ui item">
							<i class="sign out icon"></i>
						</a>
						{{/if}}
					</div>
				</div>
				<div id="topbar" class="ui secondary {{#unless pointing}}pointing{{/unless}} menu">
					<a class="item" href="/">
						Gitstr.
					</a>
					{{#if equal page "repository"}}
					<div class="table-collapse item">
						<i class="{{displayStatus}} link icon"></i>
					</div>
					{{/if}}
					<div class="right menu">
						<div class="item">
							<div class="ui search">
								<div class="ui transparent left icon input">
									<input class="prompt" type="text" placeholder="Search...">
									<i class="search link icon"></i>
								</div>
								<div class="results"></div>
							</div>
						</div>
						{{#if currentUser}}
						<div class="item computer tablet only">
							<a class="ui mini rounded image" href="/">
								<img src="{{currentUser.profile.image}}">
							</a>
						</div>
						<a id="logout" class="ui item">
							<i class="sign out icon"></i>
						</a>
						{{/if}}
					</div>
				</div>

			</div>	
		</div>
	</div>
</template>