<template name="header">
	<div class="ui {{#unless padded}}page{{/unless}} vertically padded grid">
		<div class="centered row">
			<div class="column">
				<div id="fixed_topbar" class="ui primary fixed menu" style="display: none">
					<a class="item" href="/">
						<i class="fork large icon"></i>
					</a>
					<div class="item">
						{{#if repo}}
						<a class="link-light" href="/{{user.profile.screen_name}}">
							<span>{{user.profile.screen_name}}</span>
						</a>
						<span class="grey-light"> / </span>
						<span class="teal">#</span> {{repo.title}} 
						{{else}}
							{{#if equal display "feed"}}
							<i class="green heartbeat icon"></i>
							<span class="grey-light"> Activity</span>
							{{/if}}

							{{#if equal display "repositories"}}
							<i class="orange flag icon"></i>
							<span class="grey-light"> Your repositories</span>
							{{/if}}

							{{#if equal display "subscription"}}
							<i class="yellow star icon"></i>
							<span class="grey-light"> Your subscriptions</span>
							{{/if}}
						{{/if}}
					</div>
					<div class="right menu">
						<div class="item">
							<div id="search" class="ui search">
								<div class="ui transparent left icon input">
									<input class="prompt" type="text" placeholder="Search...">
									<i class="search link icon"></i>
								</div>
								<div class="results"></div>
							</div>
						</div>
						{{#if currentUser}}
						<div class="item">
							<a class="ui mini rounded image" href="/">
								<img src="http://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF_normal.png">
							</a>
							<a class="grey site-size" href="/">
								{{currentUser.profile.name}}
							</a>
						</div>
						<a id="logout" class="ui item">
							<i class="sign out icon"></i>
						</a>
						{{/if}}
					</div>
				</div>
				<div id="topbar" class="ui secondary {{#unless pointing}}pointing{{/unless}} menu">
					<a class="item" href="/">
						<i class="fork large icon"></i>
					</a>
					<div class="right menu">
						<div class="item">
							<div id="search" class="ui search">
								<div class="ui transparent left icon input">
									<input class="prompt" type="text" placeholder="Search...">
									<i class="search link icon"></i>
								</div>
								<div class="results"></div>
							</div>
						</div>
						{{#if currentUser}}
						<div class="item">
							<a class="ui mini rounded image" href="/">
								<img src="http://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF_normal.png">
							</a>
							<a class="grey site-size" href="/">
								{{currentUser.profile.name}}
							</a>
						</div>
						<a id="logout" class="ui item">
							<i class="sign out icon"></i>
						</a>
						{{/if}}
					</div>
				</div>

			</div>	
		</div>
	</div>
</template>