<template name="mini_profile">
	<div class="ui card">
		<div class="image">
		<!-- <img src="https://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF.png"> -->
		<img src="{{currentUser.profile.image}}">
		</div>
		<div class="content">
			<div class="header"><a href="/{{currentUser.profile.screen_name}}/rep">{{currentUser.profile.name}}</a></div>
			<div class="meta">
			<span class="date">Joined in {{moment currentUser.createdAt}}</span>
			</div>
			<div class="description"></div>
		</div>
	</div>
	<div class="ui card">
		<div class="extra content">
			<div>
				<i class="heartbeat {{#if equal display 'feed'}}green{{/if}} icon"></i>
				<a id="feed_list" class="{{#if equal display 'feed'}}active{{/if}}" href="/">Subscriptions feed</a>
			</div>		
			<div>
				<i class="star {{#if equal display 'sub'}}yellow{{/if}} icon"></i>
				<a id="sub_list" class="{{#if equal display 'sub'}}active{{/if}}" href="/sub">Subscriptions</a>
				<span class="right floated">{{#if currentUser.nb_subscription}} {{currentUser.nb_subscription}} {{else}} 0 {{/if}}</span>
			</div>
			<div>
				<i class="flag {{#if equal display 'rep'}}orange{{/if}} icon"></i>
				<a id="repo_list" class="{{#if equal display 'rep'}}active{{/if}}" href="/rep">Repositories</a>
				<span class="right floated">{{#if currentUser.nb_repo}} {{currentUser.nb_repo}} {{else}} 0 {{/if}}</span>
			</div>
		</div>
	</div>
</template>