<template name="upload_modal">
	<div id="upload_modal" class="ui modal">
		<i class="close icon"></i>
		<div class="header">
			<i class="file icon"></i>
			Add files to {{repo.title}} repository
		</div>
		<div class="content">
			{{> upload_semanticUI multiple=true callbacks=uploadCallback formData=formData}}
		</div>
		<!-- <div class="actions">
		<div class="ui button">Cancel</div>
		<div class="ui button">OK</div>
		</div> -->
	</div>
</template>

<template name="link_modal">
	<div id="link_modal" class="ui modal">
		<div class="header">
			<i class="linkify icon"></i>
			Add link to {{repo.title}} repository
		</div>
		<div class="content">
			<div class="ui fluid action input">
				<input type="text" placeholder="http://">
				<div class="ui positive button">Add</div>
			</div>
		</div>
	</div>
</template>

<template name="signin_modal">
<!-- 	<div id="upload_modal" class="ui small modal">
		<i class="close icon"></i>
		<div class="header">
			Upload Files on {{title}}
		</div>
		<div class="content">
			{{> upload_semanticUI multiple=true callbacks=uploadCallback formData=formData}}
		</div>
		<div class="actions">
		<div class="ui button">Cancel</div>
		<div class="ui button">OK</div>
		</div> -->
	<div id="signin" class="ui small modal">
		<div class="header">
			<span class="oxygen">gitstr.</span>
		</div>
		<div class="content">
			<div class="ui center aligned padded grid">
				<div id="facebook_signin" class="ui big facebook button">
					<i class="facebook icon"></i>
					Sign in with Facebook
				</div>
				<div class="ui horizontal divider">or</div>
				<div id="twitter_signin" class="twitter_signin ui big twitter button">
					<i class="twitter icon"></i>
					Sign in with Twitter
				</div>
				<div class="ui horizontal divider">or</div>
				<div id="github_signin" class="ui big github button">
					<i class="github icon"></i>
					Sign in with Github
				</div>
			</div>
		</div>
	</div>
</template>

<template name="image_modal">
	
	<div id="image_modal" class="ui long basic modal">
		<!-- <i class="close icon"></i> -->
		{{#if equal modalInfo.type "video"}}
			<video width="100%" height="340" controls>
				<source src="{{modalInfo.url}}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		{{else}}
		<div class="ui rounded centered massive image">
			<img src="{{modalInfo.url}}" />
		</div>
		{{/if}}
	</div>

	<div id="image_fail_dimmer" class="ui page dimmer">
		<div class="content">
			<div class="center">
				<h2 class="ui inverted icon header">
					<i class="emergency icon"></i>
						Oooopss...sorry about that!
					<div class="sub header"></div>
				</h2>
			</div>
		</div>
	</div>

</template>