<template name="profile">
	<div class="ui card">
		<div class="image">
		<img src="https://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF.png">
		</div>
		<div class="content">
			<div class="header">{{user.profile.name}}</div>
			<div class="meta">
			<span class="date">Joined in {{moment}}</span>
			</div>
			<div class="description"></div>
		</div>
		<div class="extra content">
			<span>
				{{user.repo_counter}} Repositories
			</span>
			<!-- <div><a class="friends">
			<i class="user icon"></i>
			22 Friends
			</a></div> -->
		</div>
	</div>
</template>