<template name="profile">
	<div class="ui card">
		<div class="image">
		<!-- <img src="https://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF.png"> -->
		<img src="{{user.services.twitter.profile_image_url}}">
		</div>
		<div class="content">
			<div class="header">{{user.profile.name}}</div>
			<div class="meta">
			<span class="date">Joined in {{moment user.createdAt}}</span>
			</div>
			<div class="description"></div>
		</div>
		<div class="extra content">
			<div>
				<i class="flag orange icon"></i>
				<a href="/rep" class="grey">{{#if user.nb_repo}} {{user.nb_repo}} {{else}} 0 {{/if}} Repositories</a>
			</div>		
			<div>
				<i class="star yellow icon"></i>
				<a href="/sub" class="grey">{{#if user.nb_subscription}} {{user.nb_subscription}} {{else}} 0 {{/if}} Subscription</a>
				
			</div>
		</div>
		<!-- <div><a class="friends">
		<i class="user icon"></i>
		22 Friends
		</a></div> -->
	</div>
</template>