<!-- {{#unless nb_files}}	
	 <i class="teal frown icon"></i>
	<span class="category">Empty</span>
{{else}} -->
	<!-- {{#if nb_image}}
	<div>
		<i class="blue camera icon"></i> 
		<a class="grey site-size" href="{{url}}/image">
			{{nb_image}} Image
		</a>
	</div>
	{{/if}}
	{{#if nb_video}}
	<div>
		<i class="red record icon"></i>
		<a class="grey site-size" href="{{url}}/video">
			{{nb_video}} Video
		</a>
	</div>
	{{/if}}
	{{#if nb_audio}}
	<div>
		<i class="yellow unmute icon"></i>
		<a class="grey site-size" href="{{url}}/audio">
			{{nb_audio}} Audio
		</a>
	</div>
	{{/if}}
	{{#if nb_application}}
	<div>
		<i class="grey file outline icon"></i>
		<a class="grey site-size" href="{{url}}/application">
			{{nb_application}} Other
		</a>
	</div>
	{{/if}} -->
<!-- <div>
	<div class="ui grid">
		<div class="centered row">
			<div class="ui two column grid">
				<div class="ui mini statistics">
					<div class="statistic">
						<div class="value">
							<i class="ui small blue camera grey-light circular inverted icon"></i>
						</div>
						<span class="blue">{{#if nb_image}} {{nb_image}} {{else}} 0 {{/if}}</span>
						<span class="label">Image</span>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="ui small red record grey-light circular inverted icon"></i>
						</div>
						<span class="red">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</span>
						<span class="label">Video</span>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="ui small yellow unmute grey-light circular inverted icon"></i>
						</div>
						<span class="yellow">{{#if nb_audio}} {{nb_audio}} {{else}} 0 {{/if}}</span>
						<span class="label">Audio</span>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="ui small file outline grey-light circular icon"></i>
						</div>
						<span class="grey-light">{{#if nb_application}} {{nb_application}} {{else}} 0 {{/if}}</span>
						<span class="label">Other</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<template name="repositories_grid">

{{#each repoList}}
<div class="column">
	<div class="ui fluid card">
	 	<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div>Unsubscribing from</div>
					<div>{{user_name}} / # {{title}} ...</div>
				</div>
			</div>
	 	</div>
		<div class="content">
			{{#unless isOwner user_id}}
				<i data-id="{{_id}}" class="subscribe right floated star {{#if subscribed subscribers}}yellow{{/if}} icon"></i>
			{{/unless}}
			<div class="header"><span class="teal">#</span> <a href="{{url}}" class="link-dark">{{title}}</a></div>
			<div class="meta">	
				<span class="time">
				{{#if last_update}}
					Updated {{setLastUpdate last_update}}
				{{else}}
					Created {{setLastUpdate created_at}}
				{{/if}}
				</span>
			</div>
			<div class="media-grid ui stackable middle aligned two column padded grid">
					<div class="column">
						{{#if samples.image}}
						<div class="ui slide down instant reveal">
							<div class="visible content">
								<img src="{{samples.image}}" class="ui small rounded bordered image">
							</div>
							<div class="hidden content">
								<div class="center aligned column">
									<div>
										<a href="{{url}}/image"><i class="ui big link blue camera icon"></i></a>
										<div class="blue">{{#if nb_image}} {{nb_image}} {{else}} 0 {{/if}}</div>
									</div>
								</div>
							</div>
						</div>
						{{else}}
							<div class="center aligned column">
								<div class="ui segment">
									<a href="{{url}}/image"><i class="ui big link blue camera icon"></i></a>
									<div class="blue">{{#if nb_image}} {{nb_image}} {{else}} 0 {{/if}}</div>
								</div>
							</div>
						{{/if}}	
					</div>
					<div class="column">
						{{#if samples.video}}
						<div class="ui slide down instant reveal">
							<div class="visible content">
								<img src="{{samples.video}}" class="ui small rounded bordered image">
							</div>
							<div class="hidden content">
								<div class="center aligned column">
									<div>
										<a href="{{url}}/video"><i class="ui big link red record icon"></i></a>
										<div class="red">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</div>
									</div>
								</div>
							</div>
						</div>
						{{else}}
							<div class="center aligned column">
								<div class="ui segment">
									<a href="{{url}}/video"><i class="ui big link red record icon"></i></a>
									<div class="red">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</div>
								</div>
							</div>
						{{/if}}
					</div>

					<div class="column">
										<div class="ui slide down instant reveal">
					<div class="visible content">
						<img src="/upload/Btq7ovMNoAX3xTAte/IMG_20150111_160747.jpg" class="ui small bordered image">
					</div>
					<div class="hidden content">
						<div class="center aligned column">
							<div>
								<i class="ui large link record grey-light circular icon"></i>
							</div>
							<div>
								<span class="red">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</span>
								<!-- <span class="label">Video{{#if greater nb_video 0}}s{{/if}}</span> -->
							</div>
						</div>
					</div>
				</div>
					</div>
					<div class="column">
										<div class="ui slide down instant reveal">
					<div class="visible content">
						<img src="/upload/Btq7ovMNoAX3xTAte/IMG_20150111_160747.jpg" class="ui small bordered image">
					</div>
					<div class="hidden content">
						<div class="center aligned column">
							<div>
								<i class="ui large link record grey-light circular icon"></i>
							</div>
							<div>
								<span class="red">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</span>
								<!-- <span class="label">Video{{#if greater nb_video 0}}s{{/if}}</span> -->
							</div>
						</div>
					</div>
				</div>
					</div>
			</div>


<!-- 				<div class="center aligned column">
					<div>
						<i class="ui large link record grey-light circular icon"></i>
					</div>
					<div>
						<span class="red">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</span>
						
					</div>
				</div>
				<div class="center aligned column">
					<div>
						<i class="ui large link unmute grey-light circular icon"></i>
					</div>
					<div>
						<span class="yellow">{{#if nb_audio}} {{nb_audio}} {{else}} 0 {{/if}}</span>
						
					</div>
				</div>
				<div class="center aligned column">
					<div>
						<i class="ui large link file outline grey-light circular icon"></i>
					</div>
					<div>
						<span class="grey-light">{{#if nb_application}} {{nb_application}} {{else}} 0 {{/if}}</span>
					
					</div>
				</div> -->


			<div class="meta">
				<i class="star outline icon"></i>{{#if nb_subscribers}} {{nb_subscribers}} {{else}} 0 {{/if}} Subscribers
			</div>
		</div>
		{{#unless isOwner user_id}}
		<div class="extra content">
			<div class="author">
				<img class="ui avatar image" src="{{user_profile_image}}"> <a href="/{{user_screen_name}}">{{user_name}}</a>
			</div>
		</div>
		{{/unless}}
	</div>
</div>
{{/each}}

</template>