<!-- {{#unless nb_files}}	
	 <i class="teal frown icon"></i>
	<span class="category">Empty</span>
{{else}} -->
	<!-- {{#if nb_image}}
	<div>
		<i class="blue camera icon"></i> 
		<a class="grey site-size" href="{{url}}/image">
			{{nb_image}} Image
		</a>
	</div>
	{{/if}}
	{{#if nb_video}}
	<div>
		<i class="red record icon"></i>
		<a class="grey site-size" href="{{url}}/video">
			{{nb_video}} Video
		</a>
	</div>
	{{/if}}
	{{#if nb_audio}}
	<div>
		<i class="yellow unmute icon"></i>
		<a class="grey site-size" href="{{url}}/audio">
			{{nb_audio}} Audio
		</a>
	</div>
	{{/if}}
	{{#if nb_application}}
	<div>
		<i class="grey file outline icon"></i>
		<a class="grey site-size" href="{{url}}/application">
			{{nb_application}} Other
		</a>
	</div>
	{{/if}} -->
<!-- <div>
	<div class="ui grid">
		<div class="centered row">
			<div class="ui two column grid">
				<div class="ui mini statistics">
					<div class="statistic">
						<div class="value">
							<i class="ui small blue camera grey-light circular inverted icon"></i>
						</div>
						<span class="blue">{{#if nb_image}} {{nb_image}} {{else}} 0 {{/if}}</span>
						<span class="label">Image</span>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="ui small red record grey-light circular inverted icon"></i>
						</div>
						<span class="red">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</span>
						<span class="label">Video</span>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="ui small yellow unmute grey-light circular inverted icon"></i>
						</div>
						<span class="yellow">{{#if nb_audio}} {{nb_audio}} {{else}} 0 {{/if}}</span>
						<span class="label">Audio</span>
					</div>
					<div class="statistic">
						<div class="value">
							<i class="ui small file outline grey-light circular icon"></i>
						</div>
						<span class="grey-light">{{#if nb_application}} {{nb_application}} {{else}} 0 {{/if}}</span>
						<span class="label">Other</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<template name="repositories_grid">

{{#each repoList}}
<div class="column">
	<div class="ui fluid card">
	 	<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div>Unsubscribing from</div>
					<div>{{user_name}}/#{{screen_title}} ...</div>
				</div>
			</div>
	 	</div>
		<div class="content">
			{{#unless isOwner user_id}}
				<i data-id="{{_id}}" class="subscribe right floated star {{#if subscribed subscribers}}yellow{{/if}} icon"></i>
			{{/unless}}
			<div class="header"><span class="teal">#</span> <a href="{{url}}">{{screen_title}}</a></div>
			<div class="meta">	
				<span class="time">
				{{#if last_update}}
					Updated {{setLastUpdate last_update}}
				{{else}}
					Created {{setLastUpdate created_at}}
				{{/if}}
				</span>
			</div>
			<div class="repo-grid ui stackable two column padded grid">
				<div class="column thin">
					{{#if samples.image.gradient}}
						<a href="{{url}}/image">
							<!-- <span class="ui small rounded image default-image {{../default_image_size}}" style="background: linear-gradient({{samples.image.gradient.deg}}deg, #f4a8a8 {{samples.image.gradient.percent1}}%, #94e5e1 {{samples.image.gradient.percent2}}%);"></span> -->
							<span class="ui small rounded image default-image {{../default_image_size}}" style="background: {{samples.image.gradient}}"></span>
							<div class="repo-grid-counter default">
								<i class="camera white icon"></i>
								<span class="white">{{#if nb_image}} {{nb_image}} {{else}} 0 {{/if}}</span>
							</div>
						</a>
					{{else}}
						<a href="{{url}}/image">
							<span class="img-overlay"></span>
							<img src="{{samples.image}}" class="ui small rounded bordered image">
							<div class="repo-grid-counter">
								<i class="camera white icon"></i>
								<span class="white">{{#if nb_image}} {{nb_image}} {{else}} 0 {{/if}}</span>
							</div>
						</a>
					{{/if}}
				</div> 
				<div class="column">
					<div class="ui two column grid">
						<div class="column thin">
							<a href="{{url}}/audio">	
								<!--<span class="ui small rounded image default-image default-audio {{../default_image_size}}" style="background: linear-gradient({{samples.audio.gradient.deg}}deg, #f4a8a8 {{samples.audio.gradient.percent1}}%, #94e5e1 {{samples.audio.gradient.percent2}}%);"></span> -->
								<span class="ui small rounded image default-image default-audio" style="background: {{samples.audio.gradient}}"></span>
								<div class="repo-grid-counter {{#unless nb_audio}}default{{/unless}}">
									<i class="unmute white icon"></i>
									<span class="white">{{#if nb_audio}} {{nb_audio}} {{else}} 0 {{/if}}</span>
								</div>
							</a>
						</div>
						<div class="column thin">
							<a href="{{url}}/audio">
								<!--<span class="ui small rounded image default-image default-audio {{../default_image_size}}" style="background: linear-gradient({{samples.application.gradient.deg}}deg, #f4a8a8 {{samples.application.gradient.percent1}}%, #94e5e1 {{samples.application.gradient.percent2}}%);"></span> -->
								<span class="ui small rounded image default-image default-audio" style="background: {{samples.application.gradient}}"></span>
								<div class="repo-grid-counter {{#unless nb_application}}default{{/unless}}">
									<i class="file outline white icon"></i>
									<span class="white">{{#if nb_application}} {{nb_application}} {{else}} 0 {{/if}}</span>
								</div>
							</a>
						</div>
					</div>
					<div class="ui one column grid">
						<div class="column thin">
							{{#if samples.video.gradient}}
								<a href="{{url}}/video">
									<!-- <span class="ui small rounded image default-image {{../default_image_size}}" style="background: linear-gradient({{samples.video.gradient.deg}}deg, #f4a8a8 {{samples.video.gradient.percent1}}%, #94e5e1 {{samples.video.gradient.percent2}}%);"></span> -->
									<span class="ui small rounded image default-image {{../default_image_size}}" style="background: {{samples.video.gradient}}"></span>
									<div class="repo-grid-counter default">
										<i class="record white icon"></i>
										<span class="white">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</span>
									</div>
								</a>
							{{else}}
								<a href="{{url}}/video">
									<span class="img-overlay"></span>
									<img src="{{samples.video}}" class="ui small rounded bordered image">
									<div class="repo-grid-counter">
										<i class="record white icon"></i>
										<span class="white">{{#if nb_video}} {{nb_video}} {{else}} 0 {{/if}}</span>
									</div>
								</a>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div class="meta">
				<i class="star outline icon"></i>{{#if nb_subscribers}} {{nb_subscribers}} {{else}} 0 {{/if}} Subscribers
			</div>
		</div>
		{{#unless isOwner user_id}}
		<div class="extra content">
			<div class="author">
				<img class="ui avatar image" src="{{user_profile_image}}"> <a href="/{{user_screen_name}}">{{user_name}}</a>
			</div>
		</div>
		{{/unless}}
	</div>
</div>
{{/each}}

</template>