<template name="404">
<div id="not_found">
	<div class="ui padded grid">
		<div class="row">
			<div class="column">
				<a href="/">
					<div class="ui inverted large vertical animated button">
						<div class="hidden content">
							<span class="oxygen">gitstr.</span>
						</div>
						<div class="visible content">
							<span class="oxygen">gitstr.</span>
						</div>
					</div>
				</a>
				<h1 class="ui inverted header">Ooooopsssss...Nothing here!</h1>
			</div>
		</div>
	</div>
</div>
</template>