<template name="explore">
	{{> header}}
	<div class="ui page vertically padded grid">
		<div class="row mobile only">
			<div class="ui hidden divider"></div>
		</div>
		<div class="centered row">
			<div class="sixteen wide column">
				<h2 class="ui header">
					<i class="orange massive rocket icon"></i>
					<div class="content">
						Explore
					</div>
				</h2>
				<div class="ui hidden divider"></div>
				<div class="sixteen wide column">
					<div class="ui doubling stackable three column grid">
					{{> repositories_grid}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>