<template name="home">
	<h2 class="ui header">
		<img src="https://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF.png" class="ui circular image">
		Guillaume Morin
	</h2>
	<div class="ui segment">
		<div class="ui vertical segment">
			<h2 class="ui center aligned icon header">
				<img src="https://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF.png" class="ui circular image">
			Guillaume Morin
			</h2>
		</div>
		<div class="ui vertical segment">
			<div class="ui compact menu">
				<a class="item">
					<i class="icon mail"></i> Messages
					<div class="floating ui red label circular small">22</div>
				</a>
				<a class="item">
					<i class="icon users"></i> Friends
					<div class="floating ui teal label circular small">28</div>
				</a>
			</div>
		</div>
	</div>
		
		
	<p>HOME</p>
	<form>
    	<input type="text" name="myInput" />
    	<input type="submit" class="btn btn-primary btn-lg" value="Submit" />
    </form>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  	<span class="sr-only">Error:</span>{{errorMessage}}
  	<div>Repositories: {{repoCounter}}</div>
	{{#each repoList}}
		<h2><a class="link-repo" href="{{path}}">{{name}}</a></h2>
	{{/each}}
</template>