<template name="home">
	{{> header page="home"}}
	<div class="ui page vertically padded grid">
		<div class="centered row">
			<div class="four wide computer tablet only column">
				{{> mini_profile}}
			</div>
			<div class="twelve wide column">
				<h2 class="ui header">
					{{#if equal display "feed"}}
					<i class="green heartbeat icon"></i>
					<div class="content">
						Activity
						<div class="sub header">
							Updated a few seconds ago
						</div>
					</div>
					{{/if}}

					{{#if equal display "rep"}}
					<i class="orange flag icon"></i>
					<div class="content">
						Your repositories
						<div class="sub header">
							{{currentUser.nb_repo}} Repositories
						</div>
					</div>
					{{/if}}

					{{#if equal display "sub"}}
					<i class="yellow star icon"></i>
					<div class="content">
						Your subscriptions
						<div class="sub header">
							{{currentUser.nb_subscription}} Subscriptions
						</div>
					</div>
					{{/if}}
				</h2>

				{{#if equal display "rep"}}
				<form>
					<div class="ui form">
						<div id="repo_input_error" class="ui negative message">
							<div class="header">
								{{errorMessage}}
							</div>
						</div>
						<div class="inline fields">
							<i class="add square grey icon"></i>
							<span class="grey">New repository: </span>
							<div class="field {{#if errorMessage}}error{{/if}}">
								<label>
									<span class="grey-light">{{currentUser.profile.screen_name}} / </span>
									<span class="teal">#</span>
								</label>
								<input type="text" name="repo_input" placeholder="Name">
								<input type="submit" class="ui positive button" value="Add" />
							</div>
						</div>
					</div>
				</form>
				{{/if}}

				<div class="ui clearing divider"></div>
				{{#if equal display "feed"}}
					{{> feed}}
				{{else}}
					<div class="ui three column grid">
					{{> repositories_grid}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
	<!-- <div class="centered row">
		<h2 class="ui header">
			<img src="https://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF.png" class="ui circular image">
			Guillaume Morin
		</h2>
		<div class="ui segment">
			<div class="ui vertical segment">
				<h2 class="ui center aligned icon header">
					<img src="https://pbs.twimg.com/profile_images/425914532385402880/lqeOrhNF.png" class="ui circular image">
				Guillaume Morin
				</h2>
			</div>
			<div class="ui vertical segment">
				<div class="ui compact menu">
					<a class="item">
						<i class="icon mail"></i> Messages
						<div class="floating ui red label circular small">22</div>
					</a>
					<a class="item">
						<i class="icon users"></i> Friends
						<div class="floating ui teal label circular small">28</div>
					</a>
				</div>
			</div>
		</div>
			
			
		<p>HOME</p>
		<form>
			<div class="ui input">
				<input type="text" name="myInput" placeholder="new repo...">
			</div>
			<input type="submit" class="btn btn-primary btn-lg" value="Submit" />
	    </form>
	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  	<span class="sr-only">Error:</span>{{errorMessage}}
	  	<div>Repositories: {{repoCounter}}</div>
		{{#each repoList}}
			<h2><a class="link-repo" href="{{url}}">{{title}}</a></h2>
		{{/each}}
	</div> -->
</template>