<template name="login">
	<div id="login-header" class="ui inverted teal vertical segment">
		<div class="ui page grid">
			<div class="row">
				<div class="column">
					<div class="ui inverted large vertical animated button">
						<div class="hidden content">
							Gitstr.
						</div>
						<div class="visible content">
							Gitstr.
						</div>
					</div>
					<h2 class="ui inverted header">Full Width Background</h2>
					<p>First section of content</p>
				</div>
			</div>
			<div class="five wide centered column grid">
				<div class="column">
					<div id="search_repo" class="ui fluid search">
						<div class="ui left icon massive inverted input">
							<input class="prompt" type="text" placeholder="Search for repository ... ">
							<i class="search link icon"></i>
						</div>
						<div class="results"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="login-segment" class="ui tertiary horizontal segment">
		<div class="ui page grid">
			<div class="ui one column middle aligned relaxed fitted stackable grid">
				<div class="center aligned column">
					<div class="button">
						<div id="facebook_signin" class="ui large facebook button stackable">
							<i class="facebook icon"></i>
							Sign in with Facebook
						</div>
						<div id="twitter_signin" class="ui large twitter button stackable">
							<i class="twitter icon"></i>
							Sign in with Twitter
						</div>
						<div id="github_signin" class="ui large github button stackable">
							<i class="github icon"></i>
							Sign in with Github
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div id="login-extra" class="ui basic segment">
		<div class="ui page grid">
			<div class="three column centered row">
				<div class="center aligned stackable column">
					<h2 class="ui icon center aligned header">
					<i class="massive flag icon"></i>
					<div class="content">
						Create a repository...
						<div class="sub header">Easily findable, it will be something like /yourname/yourrepository</div>
					</div>
				</h2>
				</div>
				<div class="center aligned stackable column">
					<h2 class="ui icon center aligned header">
					<i class="massive file icon"></i>
					<div class="content">
						Add some files to it...
						<div class="sub header">Joined in {{moment user.createdAt}}</div>
					</div>
				</h2>
				</div>
				<div class="center aligned stackable column">
					<h2 class="ui icon center aligned header">
					<i class="massive world icon"></i>
					<div class="content">
						And share it with everyone!
						<div class="sub header">Or noOne, as you like ;)</div>
					</div>
				</h2>
				</div>
			</div>			
		</div>
	</div>
</template>