<template name="login">
	<div id="login-header" class="ui inverted teal vertical segment">
		<div class="ui page grid">
			<div class="column">
				<div class="ui inverted large vertical animated button">
					<div class="hidden content">
						Gitstr.
					</div>
					<div class="visible content">
						Gitstr.
					</div>
				</div>
				<h2 class="ui inverted header">Full Width Background</h2>
				<p>First section of content</p>
			</div>
		</div>
	</div>
	<div id="login-segment" class="ui vertical segment">
		<div class="ui page grid">
			<div class="ui one column middle aligned relaxed fitted stackable grid">
				<div class="center aligned column">
					<div class="button">
						<div class="ui facebook button">
							<i class="facebook icon"></i>
							Sign in with Facebook
						</div>
						<div id="twitter_signin" class="ui twitter button">
							<i class="twitter icon"></i>
							Sign in with Twitter
						</div>
						<div class="ui github button">
							<i class="github icon"></i>
							Sign in with Github
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</template>