<template name="profile">
<!-- 	<div id="profile" class="ui page vertically padded grid" c>
		

		<h2 class="ui icon center aligned header">
			<img class="ui small circular image" src="{{profile.image}}">
			<div class="content">
				{{profile.screen_name}}
				<div class="sub header">Manage your account settings and set e-mail preferences.</div>
			</div>
		</h2>


	</div> -->
	<div id="profile_header" class="ui vertical stacked segment">
		<span class="img-overlay profile" style="background: {{defaultImage}};"></span>
		<div class="ui page grid">
			<div class="column">		
				{{> header padded="false" pointing="false"}}
				<h2 class="ui icon center aligned header">
					<img class="ui small circular image" src="{{user.profile.image}}">
					<div class="content">
						{{user.profile.screen_name}}
						<div class="sub header">Joined in {{moment user.createdAt}}</div>
					</div>
				</h2>
				<div class="ui grid">
					<div class="centered row">
						<div class="ui compact menu">
							<a class="item" href="/{{user.profile.screen_name}}/rep">
								<i class="icon {{#if equal display "rep"}}orange{{/if}} flag"></i> Repositories
								<div class="floating ui circular label">{{#if user.nb_repo}} {{user.nb_repo}} {{else}} 0 {{/if}}</div>
							</a>
							<a class="item" href="/{{user.profile.screen_name}}/sub">
								<i class="icon {{#if equal display "sub"}}yellow{{/if}} star"></i> Subscriptions
								<div class="floating ui circular label">{{#if user.nb_subscription}} {{user.nb_subscription}} {{else}} 0 {{/if}}</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui page vertically padded grid">
		<div class="sixteen wide column">
			<div class="ui four column grid">
			{{> repositories_grid}}
			</div>
		</div>
	</div>

</template>