<!-- ADD LINK -->
<!-- <div class="item">
	<i class="ui teal linkify circular inverted icon"></i>
	<span class="teal">{{#if repo.nb_link}} {{repo.nb_link}} {{else}} 0 {{/if}}</span>
</div> -->

<!-- {{#if equal type.subtype "tweet"}}
{{addTweetToDisplay type.item_id}}
<tr class="{{#if isInHistory _id}}warning{{/if}}">
	<td><i class="twitter twitter-color icon"></i>{{title}}</td>
	<td class="right aligned">{{setSize size}}</td>
	<td class="right aligned">{{setDate timestamp}}</td>
</tr>
<tr class="extra-content {{#if isInHistory _id}}warning{{/if}}">
	<td colspan="3" style="border-top: 0px; text-align: center">
		<div id="tweet_{{type.item_id}}"></div>
		<div class="ui hidden divider"></div>
	</td>
</tr>
{{/if}} -->
<!-- /ADD LINK -->

<template name="repo">
	{{> header page="repository"}}
	<div class="ui page vertically padded grid">
		<div class="centered row">
			<div class="column">
				<div class="ui basic segment">
					<div class="ui grid">
						<div class="ui stackable grid">
							<div class="left aligned eight wide column">
								<h2 class="ui header">
									<a class="link-light" href="/{{user.profile.screen_name}}/rep">
										<span>{{user.profile.screen_name}}</span>
									</a>
									<span class="grey-light"> / </span>
									<span class="teal">#</span> {{repo.title}}
									<div class="sub header">
										{{#if repo.last_update}}
											Updated {{setLastUpdate repo.last_update}}
										{{else}}
											Created {{setLastUpdate repo.created_at}}
										{{/if}}	
									</div>
								</h2>
							</div>
							<div class="right aligned eight wide column">
								<div class="right aligned bottom aligned eight wide column">
									<a id="fb_share" href="{{repo.permalink}}" class="ui basic icon button stackable">
										<i class="facebook facebook-color icon"></i>
									</a>
									<a href="http://twitter.com/intent/tweet{{twitterShareParams}}" class="ui basic icon button stackable">
										<i class="twitter twitter-color icon"></i>
									</a>
									<div id="git_input_button" class="ui basic icon button stackable">
										<i class="git black icon"></i>
									</div>
									<div id="subscribe" class="ui basic {{#if isOwner repo.user_id}}yellow disabled{{/if}} button">
										<i class="star {{#if subscribed repo.subscribers}}yellow{{/if}}{{#if isOwner repo.user_id}}yellow{{/if}} icon"></i>
										<span class="grey">{{#if repo.nb_subscribers}} {{repo.nb_subscribers}} {{else}} 0 {{/if}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="ui stackable grid">
							<div class="nine wide column">
								<div class="ui big horizontal list">
	  								<div class="item">
	  									<i class="ui blue camera circular inverted icon"></i>
	  									<span class="blue">{{#if repo.nb_image}} {{repo.nb_image}} {{else}} 0 {{/if}}</span>
	  								</div>
	  								<div class="item">
	  									<i class="ui red record circular inverted icon"></i>
	  									<span class="red">{{#if repo.nb_video}} {{repo.nb_video}} {{else}} 0 {{/if}}</span>
	  								</div>
	  								<div class="item">
	  									<i class="ui yellow unmute circular inverted icon"></i>
	  									<span class="yellow">{{#if repo.nb_audio}} {{repo.nb_audio}} {{else}} 0 {{/if}}</span>
	  								</div>
	  								<div class="item">
	  									<i class="ui grey file outline circular icon"></i>
	  									<span class="grey">{{#if repo.nb_application}} {{repo.nb_application}} {{else}} 0 {{/if}}</span>
	  								</div>
	  							</div>	
							</div>
							<div class="seven wide column">
								<div id="git_input" class="ui labeled right icon fluid input">
									<div class="ui label">
										Clone url
									</div>
									<input type="text" placeholder="git clone url" value="{{repo.permaGit}}">
									<i id="git_input_close" class="remove circle link icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui raised segment">
					<div class="ui grid">
						<div class="left aligned sixteen wide column">
							<div class="ui buttons">
								<div id="history_dropdown" class="ui floating small basic pink labeled dropdown icon button stackable">
									<span class="text">History</span>
									<i class="history icon"></i>
									<div class="menu">
										{{#each history}}
											<div class="item history" id="{{_id}}">
												<i class="clock icon"></i>
												Updated {{setLastUpdate timestamp}}
												{{#if nb_video}} | {{nb_video}} Video {{/if}}
												{{#if nb_image}} | {{nb_image}} Image {{/if}}
												{{#if nb_audio}} | {{nb_audio}} Audio {{/if}}
											</div>
										{{/each}}
									</div>
								</div>
							</div>
							<div class="ui buttons">
								<div id="filter_dropdown" class="ui floating small basic blue labeled dropdown icon button stackable">
									<span class="text">Filter</span>
									<i class="filter icon"></i>
									<div class="menu">
										<div id="filter_all" class="item" data-value="all">
											<i class="list icon"></i>
											All
										</div>
										<div id="filter_image" class="item" data-value="image">
											<i class="blue camera icon"></i>
											Image
										</div>
										<div id="filter_video" class="item" data-value="video">
											<i class="red record icon"></i>
											Video
										</div>
										<div id="filter_audio" class="item" data-value="audio">
											<i class="yellow unmute icon"></i>
											Audio
										</div>
										<div id="filter_application" class="item" data-value="application">
											<i class="grey-light file outline icon"></i>
											Other
										</div>
									</div>
								</div>
							</div>
							{{#if files.count}}
								{{#if isOwner repo.user_id}}
								<div class="ui buttons">
									<div id="add_dropdown" class="ui floating small basic teal labeled dropdown icon button stackable">
										<span class="text">Add Files</span>
										<i class="add icon"></i>
<!-- 										<div class="menu">
											<div id="upload_button" class="item">
												<i class="file icon"></i>
												Add File(s)
											</div>
											<div id="link_button" class="item">
												<i class="linkify icon"></i>
												Add Link(s)
											</div>
										</div> -->
									</div>
								</div>
								{{/if}}
							{{/if}}
						</div>
					</div>

					{{#if tmpFiles}}
					<table id="file-list" class="ui small very basic unstackable table grey-dark">
						<thead></thead>
						<tbody>
	  						<tr class="disabled">
								<td class="ten wide">
									<a class="ui orange ribbon label">{{nbTmpFiles}} new uploaded file{{#if greater nbTmpFiles 1}}s{{/if}}</a>
								</td>
								<td class="three wide right aligned">Size</td>
								<td class="three wide right aligned"></td>
							</tr>
							{{#each tmpFiles}}
							<tr class="positive">
								<td>
									<i class="{{setIcon type.subtype}} icon"></i>
									<a href="#">{{title}}</a>
								</td>
								<td class="right aligned">{{#unless directory}}{{setSize size}}{{/unless}}</td>
								<td class="right aligned"></td>
							</tr>
							{{/each}}
							<tr>
								<td colspan="3">
									<div class="right aligned column">
										<div id="commit_cancel" class="ui compact icon button stackable">
											<i class="delete icon"></i>
										</div>
										<div  id="commit" class="ui compact icon green button stackable">
											<i class="check icon"></i>
											Publish
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					{{/if}}

					{{#unless length files}}
					<div class="ui vertically padded grid">
						<div class="center aligned column">
							{{#if isOwner repo.user_id}}
							<div class="ui yellow floating message">
								<div class="header">
									That looks pretty empty...
								</div>
								Add some files here!
								<div class="ui hidden divider"></div>
								<div class="ui buttons">
									<div id="add_dropdown" class="ui floating yellow labeled dropdown icon button stackable">
										<span class="text">Add Files</span>
										<i class="add icon"></i>
									</div>
								</div>
							</div>
							{{else}}
							<div class="ui floating message">
								<div class="red header">
									{{emptyMessage}}
									<i class="frown big icon"></i>
								</div>
								<div>
									<i class="{{getFilterIcon}} red massive icon"></i>
								</div>
								<div class="ui hidden divider"></div>
							</div>
							{{/if}}
						</div>
					</div>
					{{else}}
						<table id="file-list" class="ui small very basic unstackable table grey-dark">
							<thead></thead>
							<tbody>
		  						<tr class="disabled">
									<td class="ten wide">Name</td>
									<td class="three wide right aligned">Size</td>
									<td class="three wide right aligned">Updated</td>
								</tr>
							{{#each filter files}}
								{{#if supported type.subtype}}
									{{#if equal type.subtype "audio"}}
									<tr class="{{#if isInHistory _id}}warning{{/if}}">
										<td><i class="unmute yellow icon"></i>{{title}}</td>
										<td class="right aligned">{{setSize size}}</td>
										<td class="right aligned">{{setDate timestamp}}</td>
									</tr>
									<tr class="extra-content {{#if isInHistory _id}}warning{{/if}}">
										<td colspan="3" style="border-top: 0px">
											<div class="ui tertiary raised yellow segment">
												<div class="ui grid">
													<div class="left aligned thirteen wide column grey-extra-light site-size">
														<a href="{{url}}" class="play-audio">
															<i class="audio play grey icon"></i>
														</a>
														<span class="grey-dark playing">
															<i class="notched circle loading icon"></i>
															Playing 
														</span>
														{{title}}
													</div>
													<div class="right aligned three wide column grey site-size">
														<span class="timer">0:00</span>
													</div>
												</div>
		 										<!-- <div class="ui bottom orange disabled inverted attached progress">
													<div class="bar"></div>
												</div> -->
											</div>
										</td>
									</tr>
									{{/if}}

									{{#if equal type.subtype "image"}}
									<tr class="{{#if isInHistory _id}}warning{{/if}}">
										<td>
											<i class="camera blue icon"></i>
											<a class="cover-link" href="{{url}}">{{title}}</a>
										</td>
										<td class="right aligned">{{setSize size}}</td>
										<td class="right aligned">{{setDate timestamp}}</td>
									</tr>
									<tr class="extra-content {{#if isInHistory _id}}warning{{/if}}">
										<td colspan="3" style="border-top: 0px; text-align: center">
											<a class="cover" href="{{url}}">
												<img src="{{url}}" />
											</a>
											<div class="ui hidden divider"></div>
										</td>
									</tr>
									{{/if}}


									{{#if equal type.subtype "video"}}
									<tr class="{{#if isInHistory _id}}warning{{/if}}">
										<td><i class="record red icon"></i>{{title}}</td>
										<td class="right aligned">{{setSize size}}</td>
										<td class="right aligned">{{setDate timestamp}}</td>
									</tr>
									<tr class="extra-content {{#if isInHistory _id}}warning{{/if}}">
										<td colspan="3" style="border-top: 0px; text-align: center">
											<div class="ui basic segment">
												{{#if equal cover_url "/image_small.jpg"}}
												<div class="ui active inverted dimmer">
													<div class="ui large text loader">Generating thumbnail</div>
												</div>
												{{/if}}
												<video controls>
													<source src="" type="video/mp4">
													Your browser does not support the video tag.
												</video>
												<a class="cover-video" href="{{url}}">
													<img src="{{cover_url}}" />
												</a>
											</div>
											<div class="ui hidden divider"></div>
										</td>
									</tr>
									{{/if}}

								{{else}}
									<tr class="{{#if isInHistory _id}}warning{{/if}}">
										<td>
											<i class="{{setIcon type.subtype}} icon"></i>
											<a href="{{url}}" target="_blank" >{{title}}</a>
										</td>
										<td class="right aligned">{{setSize size}}</td>
										<td class="right aligned">{{setDate timestamp}}</td>
									</tr>
								{{/if}}
							{{/each}}
							</tbody>
						</table>
					{{/unless}}
				</div>
			</div>
		</div>
	</div>
	
	{{#if errorMessage}}
		<div class="ui negative small message">
			<i class="close icon"></i>
			<div class="header">
				{{errorMessage}}
			</div>
		</div>
	{{/if}}

	{{> upload_modal}}
	{{> image_modal}}
	<!-- {{> link_modal}} -->
	
</template>